.homepage-wrapper{
    height: 100vh;
    background: #301505;
}
.logo-link-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 95%; */
    margin: auto;
    border-bottom: 2px solid #FFFFFF;
    /* background-color: white; */
}
.logo-div{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    /* background: white; */
}
.logo-div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.web-links{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}
.web-links a{
    font-family: 'Medium';
    text-decoration: none;
    margin-left: 20px;
    color: #FFFFFF;
}
.text-lottie-div{
    /* width: 95%; */
    margin: auto;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: blue;
    border-radius: 10px;
}
.text-div{
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 50vh; */
    /* background-color: #FFFFFF; */
}
.text-div h1{
    color: white;
    font-family: 'Bold';
    letter-spacing: 1px;
}
.home-lottie-div{
    width: 45%;
    height: 70vh;
}
.middle_div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../../assets/premium_photo-1678823283274-358b3676fe5e.avif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle_div img{
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-ham{
 display: none;
}
@media(min-width:320px) and (max-width:768px){
.web-links{
display: none;
}
.mobile-ham{
    margin-right: 3%;
    cursor: pointer;
    display: block;
}
.ham-links{
    position: absolute;
    top: 11%;
    right: 0;
    width: 100vw;
    background-color: black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 9999999;
}
.ham-links a{
    color: white;
    font-family: "Regular";
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
.text-lottie-div{
 flex-direction: column-reverse;
 padding-top: 30px;
 padding-bottom: 30px;
}
.text-div{
    width: 90%;
    margin: auto;
    height: 300px;
    background: wheat;
    border: 1px solid ;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text-div h1{
 font-size: 20px;
}
.home-lottie-div{
    height: 300px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    background: white;
    border-radius: 15px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
}