.conatine{
    height: 100%;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-text{
    color: #FFFFFF;
}
.form-text input ,.form-text input::placeholder {
    color: #FFFFFF;
}
.conatine h1{
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    color: green;
    font-family: 'Regular';
}
.conatine .expense-form{
    width: 45%;
}
.conatine .lottie-div{
    width: 45%;
}
.conatine .expense-form .form-text input{
    width: 95%;
}
.conatine .btn-div{
    width: 95%;
    cursor: pointer;

}
.conatine .btn-div button{
    width: 50%;
    margin: auto;
    background: #008000;
    margin-top: 20px;
}
.goback-button{
    margin-top: 20px;
    margin-left: 50px;
    background: black;
    color: white;
    font-family: "Regular";
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.try-select{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    border-bottom:  1px solid white;
    margin-bottom: 10px;
    padding: 10px;
}
option{
    background:#00246B;
    padding: 10px !important;
    font-size: 15px;
    font-family: "Regular";
}@media(min-width:320px) and (max-width:768px){
    .conatine .form-lottie-div{
        width: 95%;
        margin: auto;
    }
.conatine .expense-form{
width: 88%;
}
}