.expense-wrapper{
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}
.form-lottie-div{
    width: 95%;
    margin: auto;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.expense-form{
    height: 50vh;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
.expense-list{
    height: fit-content;
    width: 95%;
}
.form-text{
    color: #FFFFFF;
    font-family: "Regular";
    letter-spacing: 1px;
}
.form-text input{
    color: #FFFFFF;
    border: none;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Regular';
}
.form-text input::placeholder{
    font-family: "Regular";
}
.btn-div button{
    border: none;
    padding: 10px 20px;
    font-family: "Medium";
    border-radius: 5px;
    background: blue;
    color: #FFFFFF;
}
.list-item{
    color: #FFFFFF;
}
.expense-list table{
    padding: 10px;
    font-family: "Regular";
    letter-spacing: 1px;
    border-collapse: collapse;
    width: 100%;
    /* height: 300px; */
    margin-top: 50px;
}
.expense-list table thead tr:first-child{
    border: 2px solid #FFFFFF;
    padding: 5px;
}
.expense-list table th{
    text-align: left;
}
.expense-list table th:nth-child(3),.expense-list table th:nth-child(4),.expense-list table th:nth-child(2){
    text-align: center;
}
.expense-list table td:nth-child(2),.expense-list table td:nth-child(3),.expense-list table td:nth-child(4){
    text-align: center;
}
.total-tr{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Regular";
    
}
.total-amount{
    font-family: "Bold";
    text-align: center;
    margin-right: 60px;
}
.edit-btn{
    background: green;
    color: #FFFFFF;
    font-family: "Regular";
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.del-btn{
    background: red;
    color: #FFFFFF;
    font-family: "Regular";
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.header{
    font-family: "Regular";
    color: #FFFFFF;
}
.lottie-div{
    height: 50vh;
    width: 25%;
}
.btn-div{
    text-align: center;
}
@media(min-width:320px)and (max-width:768px){
.expense-wrapper{
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.form-lottie-div{
    flex-direction: column;
    width: 95%;
    padding: 0px;
    margin: auto;
}
.expense-form{
    height: fit-content;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.lottie-div{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.expense-list{
    overflow: scroll;
}
.edit-wrapper{
    display: flex;
}
.edit-btn{
    margin-right: 10px;
}
}