.expense-wrapper{
    display: flex;
    background: #6e6ecc;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}
.form-lottie-div{
    width: 95%;
    margin: auto;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.expense-form{
    height: 50vh;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
.expense-list{
    height: fit-content;
    width: 95%;
}
.form-text{
    color: #FFFFFF;
    font-family: "Regular";
    letter-spacing: 1px;
}
.form-text input{
    color: #FFFFFF;
    border: none;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Regular';
}
.form-text input::placeholder{
    font-family: "Regular";
}
.btn-div button{
    border: none;
    padding: 10px 20px;
    font-family: "Medium";
    border-radius: 5px;
    background: blue;
    color: #FFFFFF;
}
.list-item{
    color: #FFFFFF;
}
.expense-list table{
    padding: 10px;
    font-family: "Regular";
    letter-spacing: 1px;
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    
}
.expense-list table thead tr:first-child{
    border: 2px solid #FFFFFF;
    padding: 5px;
    height: 50px;
}
.expense-list table th{
    text-align: left;

}
.expense-list table th:nth-child(3),.expense-list table th:nth-child(4),.expense-list table th:nth-child(5),.expense-list table th:nth-child(2){
    text-align: center;
}
.expense-list table td:nth-child(2),.expense-list table td:nth-child(3),.expense-list table td:nth-child(4){
    text-align: center;
}
.total-tr{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Regular";
    width: 85%;
    margin: auto;
    
}
.total-amount{
    font-family: "Bold";
    text-align: center;
    margin-left: 60px;
}
.edit-btn{
    background: green;
    color: #FFFFFF;
    font-family: "Regular";
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 45%;
}
.del-btn{
    background: red;
    color: #FFFFFF;
    font-family: "Regular";
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 45%;
    cursor: pointer;
}
.header{
    font-family: "Regular";
    color: #FFFFFF;
}
.lottie-div{
    height: 50vh;
    width: 25%;
}
.btn-div{
    text-align: center;
}
.btn-div h1{
    color: #FFFFFF;
    font-family: "Regular";
}
.title-td{
    text-transform: capitalize;
    width: max-content;
}
.expense-nav{
  width: 100%;
  background-color: #00246B;

}

.expense-nav-link{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.hello{
    color: #FFFFFF;
    font-family: "Regular";
    letter-spacing: 1px;
    height: 30px;
    display: flex;
    align-items: center;
}
.hello span{
    font-family: "Bold";
}
.hello span img{
    height: 100%;
    margin-left: 5px;
    border-radius: 100%;
    width: 30px;
}
.yeti{
    height: inherit;
}
.logout-btn{
    background: transparent;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Medium';
    cursor: pointer;
}
.create-expense{
    color: #FFFFFF;
    font-family: "Regular";
    letter-spacing: 1px;
}
.create-expense a{
    color: green;
    font-family: 'Bold';
    margin-left: 10px;
}
.edit-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-loader{
    height: 20vh;
    width: 100%;
    text-align: center;
}
tbody{
    height: 200px;
    overflow-y: scroll;
}
tbody tr{
    height: 60px;
}
tbody tr .edit-wrapper{
    height: inherit;
}

.sidebar-wrapper{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar-div p{
    color: #FFFFFF;
    font-family: "Medium";
    border-bottom:  1px solid;
    font-size: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sidebar-div p:hover{
    opacity: 0.5;
}

.pre-list-icon{
    margin-right: 5px;
    height: 30px;
}
.sidebar-div{
    width: 20%;
    height: inherit;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.content-div{
    height: inherit;
    width: 70%;
    font-family: "Regular";
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
}
.table-div-wrapper{
    height: 400px;
    overflow-y: scroll;
}
.homepagelogout{
  display: flex;
  align-items: center;
  justify-content: sb;
}
.homepagelogout button{
    margin-right: 10px;
    font-family: "Medium";
    color: #FFFFFF;
    background: transparent;
    border: none;
    cursor: pointer;
}
@media(min-width:320px)and (max-width:768px){
.expense-wrapper{
 height: 100vh;
 justify-content: center;
}
.form-lottie-div{
    flex-direction: column;
    width: 95%;
    padding: 0px;
    margin: auto;
}
.expense-form{
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 20px 10px;
}
.form-text input{
    width: 90%;

}
.form-text input::placeholder{
    /* color: #FFFFFF; */
}
.lottie-div{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    display: none;
}
.expense-list{
    overflow: scroll;
    width: 80%;
    margin: auto;
}
.edit-wrapper{
}
.edit-btn{
    margin-right: 10px;
}
.header{
    font-size: 20px;

}
.btn-div button{
 margin-top: 20px;
 width: 100%;
}
.btn-div h1{
    color: #FFFFFF;
    font-family: "Regular";
}
table tr{
    height: 50px;
}
.create-expense{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title-td{
}
}